html {
	--bgdark: #232323;
	--bglight: #292929;
	--bglighter: #343434;

	--fgdark: #7f7f7f;
	--fglight: #a9a9a9;

	font-size: 18px;
	font-family:'Times New Roman', Times, serif;
	background-color: var(--bgdark);
	color: var(--fgdark);
}

main {
	position:absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

.top, section {
	flex: 1 1 25%;
	box-sizing: border-box;
}

.top {
	display: flex;
	position: relative;
	width: 780px;
}

.bottom {
	position:relative;
	width: 390px;
	left:50%;
	transform:translate(-50%);
	text-align: center;
}

section {
	margin: 12px;
	padding: 12px;
	box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.13);
	background-color: var(--bglight);
	border-radius: 4px;
}

section:hover, button:hover {
	background-color: var(--bglighter);
}

.links {
	padding: 5px 15px;
	display: block;
}

.links:hover, #btn:hover {
	color: var(--fglight);
	cursor: pointer;
}

a:visited, a {
	text-align: left;
	color: var(--fgdark);
	text-decoration: none;
	outline: none;
}

#btn {
	width:85px;
	display:inline-block
}

.side {
	position: absolute;
	margin:0;
	top:0;
	left:0;
	height:100%;
	width:200px;
	background-color:var(--bglighter);
	z-index:1;
}

#slinks {
	display:block;
	position:absolute;
	
	left: 0;
	top: 37%;
	/* transform:translate(0%, -50%); */

	list-style-type: none;
	margin:0;
	padding:5px 0px 5px 10px;
}

li {
	padding: 0px 0px 10px 0px;
}
