html {
	--bg-dark: #232323;
	--bg-light: #292929;
	--bg-light-hover: #343434;

	--text: #7f7f7f;
	--text-hover: #a9a9a9;

	font-size: 18px;
	font-family: "Times New Roman", Times, serif;
	background-color: var(--bg-dark);
	color: var(--text);

	/* noselect */
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome and Opera */
}

body {
	height: 100vh;
	margin: 0px;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	height: 100%;
	width: 100%;
}

#top, #bottom {
	display: flex;
	flex-direction: row;
}

.link-container {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-light);
	margin: 12px;

	border-radius: 5px;

	box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.13);
}

#top > .link-container {
	padding: 12px 0px;
	min-width: 10em;
}

#bottom > .link-container {
	text-align: center;
}

.link-container:hover {
	background-color: var(--bg-light-hover);
}

a {
	color: var(--text);
	text-decoration: none;
	cursor: pointer;
	padding: 6px 30px;
}

a:hover {
	color: var(--text-hover);
}

.bottom-buttons {
	padding: 12px 10px;
	cursor: pointer;
	width: 4em;
}

.bottom-buttons:hover {
	color: var(--text-hover);
}

#sidebar {
	position: absolute;
	transform: translateX(-110%);
	-webkit-transform: translateX(-110%);

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	width: 200px;
}

#sidebar-container {
	display: flex;
	flex-direction: column;
	padding: 18px;
	width: 10em;
	background-color: var(--bg-light);
	box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.13);
	border-radius: 5px;
}

.sidebar-link {
	padding: 0px;
	margin: 5px;
}

.sidebar-header {
	margin: 0px 0px 10px 5px;
	font-weight: normal;
}

/* Animation */
.slide-in {
	animation: slide-in 0.5s forwards;
	-webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
	animation: slide-out 0.5s forwards;
	-webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(5%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(5%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(5%); }
    100% { transform: translateX(-110%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(5%); }
    100% { -webkit-transform: translateX(-110%); }
}